:root {
    --azul: #000668;
    --fondo: #E7E7F6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    width: 95%;
    margin: auto
}

header {
    padding: 25px 0;
    background-color: rgba(120, 120, 200, 0.1);
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: var(--azul);
    font-size: 40px;
}

header nav a {
    color: #0E3FF5;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

}

header nav a:hover,
header nav a.activo {
    color: #ECAB00;
}
/*-------- submenu ajustes------*/
ul, ol { list-style: none;}
li, ol{ list-style: none;}
.nav li ul {
display: none;
position: absolute;
min-width: 140px;
}
nav li:hover > ul {
    display: block;
}
body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
    background-image: url(/image/fondoap.jpeg);
    background-size: cover;
}
.peliculaa{
    width: 45%;
    background: #000668;
    padding: 30px;
    
    margin-top: 15px;
    margin-left: 50%;
    border-radius: 4px;
    font-family: 'calibri';
    color: floralwhite;
    box-shadow: 7px 13px 37px #000;
    position: absolute;
    
}
.controls {
    width: 100%;
    background: #000668;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #E7E7F6;
    font-family: 'calibri';
    font-size: 18px;
    color: floralwhite;
}
.peliculaa .botons {
    width: 100%;
    background: #E7E7F6;
    border: none;
    padding: 12px;
    color: #000668;
    margin: 16px;
    font-size: 16px;

}
.peliculaa h4 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.peliculaa h2 {
    margin: 0;
    text-align: center;
    height: 40px;
    
    font-size: 20px;
}
.peliculab{
    width: 45%;
    background: #000668;
    padding: 30px;
    
    margin-top: 15px;
    margin-right: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: floralwhite;
    box-shadow: 7px 13px 37px #000;
    position: absolute;
    
}
.controls {
    width: 100%;
    background: #000668;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #E7E7F6;
    font-family: 'calibri';
    font-size: 18px;
    color: floralwhite;
    
}
.peliculab .botons {
    width: 100%;
    background: #E7E7F6;
    border: none;
    padding: 12px;
    color: #000668;
    margin: 16px;
    font-size: 16px;

}
.peliculab h4 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.peliculab h2 {
    margin: 0;
    text-align: center;
    height: 40px;
    
    font-size: 20px;
}
.peliculac{
    width: 45%;
    background: #000668;
    padding: 30px;
    margin-top: 550px;
    margin-right: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: floralwhite;
    box-shadow: 7px 13px 37px #000;
    position: relative;
    
}
.controls {
    width: 100%;
    background: #000668;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #E7E7F6;
    font-family: 'calibri';
    font-size: 18px;
    color: floralwhite;
}
.peliculac .botons {
    width: 100%;
    background: #E7E7F6;
    border: none;
    padding: 12px;
    color: #000668;
    margin: 16px;
    font-size: 16px;
}
.peliculac h4 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.peliculac h2 {
    margin: 0;
    text-align: center;
    height: 40px;
    font-size: 20px;
}