:root {
    --azul: #000668;
    --fondo: #E7E7F6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 95%;
    margin: auto
}

header {
    padding: 25px 0;
    background-color: rgba(120, 120, 200, 0.1);
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logos {
    color: var(--azul);
    font-size: 40px;
}

header nav a {
    color: #0E3FF5;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;

}

header nav a:hover,
header nav a.activo {
    color: #ECAB00;
}
/*-------- submenu ajustes------*/
ul, ol { list-style: none;}
li, ol{ list-style: none;}
.nav li ul {
display: none;
position: absolute;
min-width: 140px;
background-color: rgba(200, 200, 220, 0.8);
}
nav li:hover > ul {
    display: block;
    -webkit-transform: scale(1.15);
    transform: translate(0%, -2%);
    filter: drop-shadow(8px 8px 5px #01010a65);
}

/*-----Peliculas Rec-------*/
/*-------- Peliculas Recomendadas------*/
.Recomendados {
    margin-bottom: 50px;
    margin: 25px;
}

.Recomendados .contenedor-titulo {
    margin-bottom: 30px;
    font-size: 25px;
    color: #000668;
}

.Recomendados.Contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.Recomendados .Pelis {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    overflow: hidden;
}

.Recomendados .Pelis .PeliculasR {
    width: 17%;
    transition: .3s ease all;
}

.Recomendados .Pelis .PeliculasR .piepel {
    align-items: center;
    margin-top: 4%;
    margin-left: 50px;
    margin-bottom: 20%;
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}


.Recomendados .Pelis .PeliculasR img {
    width: 95%;
    vertical-align: top;
    margin: 20px;
    margin-left: 10px;
    filter: drop-shadow(8px 8px 5px #01010a65);
    border-radius: 5px;
}

.Recomendados .Pelis .PeliculasR :hover img {
    filter: contrast(1.2) saturate(1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
