:root {
    --azul: #000668;
    --fondo: #E7E7F6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
    background-image: url(/image/fondoregistro.jpeg);
    background-size: cover;
}

header {
    padding: 10px 0;
    background-color: rgba(231, 231, 246, 0.3);
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: var(--azul);
    font-size: 45px;
}

header nav a {
    color: #0E3FF5;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

header nav a:hover,
header nav a.activo {
    color: #ECAB00;
}

/*-------- Formulario de registro------*/

.formregistro {
    width: 400px;
    background: #000668;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
    font-family: 'calibri';
    color: floralwhite;
    box-shadow: 7px 13px 37px #000;
}

.formregistro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #000668;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #E7E7F6;
    font-family: 'calibri';
    font-size: 18px;
    color: floralwhite;
}

.formregistro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.formregistro a:hover {
    color: floralwhite;
    text-decoration: underline #E7E7F6;
}

.formregistro .botons {
    width: 100%;
    background: #E7E7F6;
    border: none;
    padding: 12px;
    color: #000668;
    margin: 16px;
    font-size: 16px;

}