<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/agegarpelicula.css')}}">
    <title>Agregar peliculas</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <h2 class="logo">Royal Films: Multicine Unicentro</h2>
            <nav>
                <a href="/">Inicio</a>
                <a href="/Cartelera" >Cartelera</a>
                <a href="Inicio_sesion.html">Iniciar sesión</a>
                <a href="Registro.html">Registro</a>
                <a href="opinion.html">Tu opinión</a>
                
                <ul class="nav">
                <li><a href="#" class="ajustes">Ajustes</a>
                    <ul>
                    <li><a href="/Agregarpelicula" class="activo" class="ajustes">Agregar pelicula</a></li>
                    <li><a href="/Gestionarpelicula"  class="ajustes">Gestionar peliculas</a></li>
                    <li><a href="gestinarusuarios.html" class="ajustes">Gestionar usuarios</a></li>
                    </ul>
                </li>
                </ul>

            </nav>
        </div>
    </header>
    <div class="pagprin">
        {% block carga%}
        <form action="/upload" method="POST" enctype="multipart/form-data">    
        
        {%endblock%}
            <div class="drag-area">
            <h2>Arrastra y suelta la portada de la pelicula</h2>
            <span></span>
        
                <input type="file" id="uploadFile" name="uploadFile" accept=".jpg .png .jpeg">
                
            </div>
            <div class="drag-area1">
            <h2>Arrastra y suelta el fondo de la pelicula</h2>
            <span></span>
            <input type="file"id="uploadFile" name="uploadBFile"  accept=".jpg .png">
             </div>
             <input type="submit" id="enviarimg">
            </form>
        <section class="info">
            <h4>Informaciòn Pelicula</h4>
            
            {% block formulario%}
            <input type="text" id="titulo" class="controls" placeholder="Titulo de la película">
            <input type="text" id="generos" class="controls" placeholder="Generos de la película ">
            <input type="text" id="duracion" class="controls" placeholder="Duración en minutos de la pelicula">
            <input type="text" id="sinopsis" class="controls" placeholder="Resumen de la película">
            <input type="text" id="titulo_org" class="controls" placeholder="Titulo Original">
            <input type="text" id="reparto" class="controls" placeholder="Reparto">
            <input type="text" id="director" class="controls" placeholder="Director">
            {% endblock %}
            
        </section>

    </div>
   




   

<script src="{{url_for('static',filename='/JS/editp.js')}}"> </script>
</body>

</html>