{% extends "agregarpelicula.html" %}


{% block option%}
{%if p==1:%}
<option value="1" selected onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick=" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==2:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" selected onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==3:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick=" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" selected onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick="  mdato(10)">Editar {{nm[0]}}</option>
{%elif p==4:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" selected onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==5:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" selected onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==6:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" selected onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==7:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" selected onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==8:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==9:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" selected onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%elif p==10:%}
<option value="1" onclick=" mdato(1)">Editar {{nm[0]}} </option>
<option value="2" onclick =" mdato(2)">Editar {{nm[1]}}</option>
<option value="3" onclick=" mdato(3)">Editar {{nm[2]}}</option>
<option value="4" onclick=" mdato(4)">Editar {{nm[3]}}</option>
<option value="5" onclick=" mdato(5)">Editar {{nm[4]}}</option>
<option value="6" onclick=" mdato(6)">Editar {{nm[5]}}</option>
<option value="7" onclick=" mdato(7)">Editar {{nm[0]}}</option>
<option value="8" onclick=" mdato(8)">Editar {{nm[0]}}</option>
<option value="9" onclick=" mdato(9)">Editar {{nm[0]}}</option>
<option value="10" selected onclick=" mdato(10)">Editar {{nm[0]}}</option>
{%else%}
<option value="1" selected onclick=" mdato(1)">Editar 1 </option>
<option value="2" onclick=" mdato(2)">Editar 2</option>
<option value="3" onclick=" mdato(3)">Editar 3</option>
<option value="4" onclick=" mdato(4)">Editar 4</option>
<option value="5" onclick=" mdato(5)">Editar 5</option>
<option value="6" onclick=" mdato(6)">Editar 6</option>
<option value="7" onclick=" mdato(7)">Editar 7</option>
<option value="8" onclick=" mdato(8)">Editar 8</option>
<option value="9" onclick=" mdato(9)">Editar 9</option>
<option value="10" onclick=" mdato(10)">Editar 10</option>
{%endif%}
{% endblock%}