<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/gstpeli.css')}}">
    <title>Gestionar peliculas</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <h2 class="logo">Royal Films: Multicine Unicentro</h2>
            <nav>
                <a href="/">Inicio</a>
                <a href="/Cartelera">Cartelera</a>
                <a href="Inicio_sesion.html">Iniciar sesión</a>
                <a href="Registro.html">Registro</a>
                <a href="opinion.html">Tu opinión</a>
                
                <ul class="nav">
                <li><a href="#" class="ajustes">Ajustes</a>
                    <ul>
                    <li><a href="/Gestionarpelicula"  class="ajustes">Gestionar peliculas</a></li>
                    <li><a href="gestinarusuarios.html" class="ajustes">Gestionar usuarios</a></li>
                    </ul>
                </li>
                </ul>

            </nav>
        </div>
    </header>
    <div class="Recomendados">
        <div class="contenedor-titulo">
            <h2>Gestion de peliculas</h2>
        </div>
        <div class="Contenedor-princpipal" >
            <div class="Contenedor-peliculas">
                
            
                <div class="Pelis">
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P1/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[0]}}</h4>
                       <a href="/Agregarpelicula1/"><button role="button" class="boton" >Editar/Cambiar Pelicula</button></a> 
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P2/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[1]}}</h4>
                        <a href="/Agregarpelicula2/"><button role="button" class="boton" >Editar/Cambiar Pelicula</button></a> 
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P3/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[2]}}</h4>
                        <a href="/Agregarpelicula3/"><button role="button" class="boton" >Editar/Cambiar Pelicula</button></a> 
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P4/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[3]}}</h4>
                        <a href="/Agregarpelicula4/"><button role="button" class="boton" >Editar/Cambiar Pelicula</button></a> 
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P5/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[4]}}</h4>
                        <a href="/Agregarpelicula5/"><button role="button" class="boton" >Editar/Cambiar Pelicula</button></a> 
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P6/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[5]}}</h4>
                        <a href="/Agregarpelicula6/"><button role="button" class="boton" >Editar/Cambiar Pelicula</button></a> 
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P7/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[6]}}</h4>
                        <button role="button" class="boton" >Editar/Cambiar Pelicula</button>
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P8/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[7]}}</h4>
                        <button role="button" class="boton">Editar/Cambiar Pelicula</button>
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P9/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[8]}}</h4>
                        <button role="button" class="boton" >Editar/Cambiar Pelicula</button>
                    </div>
                    <div class="PeliculasR">
                        <a><img src="{{url_for('static',filename='/image/Admin/P10/Poster.jpg')}}" alt=""></a>
                        <h4 class="piepel">{{Datos[9]}}</h4>
                        <button role="button" class="boton" >Editar/Cambiar Pelicula</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>