<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/inicio.css')}}">
    <title>Inicia sesion</title>
</head>
<body>
    <header>
        <div class="contenedor">
        <h2 class="logo">Royal Films: Multicine Unicentro</h2>
        <nav>
            <a href="/">Inicio</a>
            <a href="/Cartelera">Cartelera</a>
            <a href="/Inises" class="activo" >Iniciar sesión</a>
            <a href="/Registro">Registro</a>
            <a href="/Opinion">Tu opinión</a>
            <ul class="nav">
                <li><a href="#" class="ajustes">Ajustes</a>
                    <ul>
                    <li><a href="/Agregarpelicula" class="ajustes">Agregar pelicula</a></li>
                    <li><a href="/Gestionarpelicula" class="ajustes">Gestionar peliculas</a></li>
                    <li><a href="/Gestinarusuarios" class="ajustes">Gestionar usuarios</a></li>
                    </ul>
                </li>
                </ul>
        </nav>
    </div>
</header>
    <section class="formularioingreso">
        <h4>Inicia sesion</h4>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contraseña" id="correos" placeholder="Ingrese su contraseña">
        <input class="button" type="submit" name="" value="Ingresar">

    </section>
    
</body>
</html>