<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/opinion.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Royal Films: Unicentro</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <h2 class="logo">Royal Films: Multicine Unicentro</h2>
            <nav>
                <a href="/">Inicio</a>
                <a href="/Cartelera">Cartelera</a>
                <a href="/Inises" >Iniciar sesión</a>
                <a href="/Registro">Registro</a>
                <a href="/Opinion" class="activo" >Tu opinión</a>
                
                <ul class="nav">
                <li><a href="#" class="ajustes">Ajustes</a>
                    <ul>
                        <li><a href="/Gestionarpelicula" class="ajustes">Gestionar peliculas</a></li>
                        <li><a href="/Gestinarusuarios" class="ajustes">Gestionar usuarios</a></li>
                    </ul>
                </li>
                </ul>

            </nav>
        </div>
    </header>

    <main>
        <div>
            <div class="Titulopes">
                <h2>Comentario y calificaciones</h2>
            </div>


        </div>
        <form action="/Opinion" method="post" class="contenedor-op">
        <p>
            {{form.pelicula.label}}<br> {{form.pelicula}}<br>
        </p> 
        <p>
            {{form.calificacion.label}}<br> {{form.calificacion}}<br>
        </p>
        <p class="Formulario">
            {{form.comentario.label}}<br> {{form.comentario}}<br>
        </p>    
        <p>
            {{form.usuario.label}}<br> {{form.usuario}}<br>
        </p>    
        <p class="buton">
            {{form.enviar}}
        </p>    
            {{form.hidden_tag()}}
        </form>
    </main>
</body>

</html>