<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Royal Films: Unicentro</title>
</head>

<body>
    <header>
        <div class="contenedor">
            <h2 class="logo">Royal Films: Multicine Unicentro</h2>
            <nav>
                <a href="/" class="activo">Inicio</a>
                <a href="/Cartelera">Cartelera</a>
                <a href="/Inises">Iniciar sesión</a>
                <a href="/Registro">Registro</a>
                <a href="/Opinion">Tu opinión</a>
                
                <ul class="nav">
                <li><a href="#" class="ajustes">Ajustes</a>
                    <ul>
                    <li><a href="/Gestionarpelicula"  class="ajustes">Gestionar peliculas</a></li>
                    <li><a href="/Gestinarusuarios" class="ajustes">Gestionar usuarios</a></li>
                    </ul>
                </li>
                </ul>

            </nav>
        </div>
    </header>

    <main>
        <div class="Estreno">
            <div class="contenedor">
                <h1 class="sec_estreno">Pelicula en Estreno</h1>
                <h3 class="titulo">{{Datos[0]}}</h3>
                <p class="descripcion">{{des[5]}}</p>

                <button role="button" class="boton">Comprar ticket</button>
              <a href="/Pelicula1"><button role="button" class="boton" >Ver descripción</button></a>  
            </div>


        </div>
        <div class="Recomendados">
            <div class="contenedor-titulo">
                <h2>Principales en cartelera</h2>
            </div>
            <div class="Contenedor-princpipal">
                <div class="Contenedor-peliculas">
                    <div class="Pelis">
                        <div class="PeliculasR">
                            
                            <a href="/Pelicula1"><img src="{{url_for('static',filename='/image/Admin/P1/Poster.jpg')}}" alt=""></a>
                            <h4 class="piepel" id="RPelicula1">{{Datos[0]}} </h4>
                        </div>
                        <div class="PeliculasR">
                            <a href="/Pelicula2"><img src="{{url_for('static',filename='/image/Admin/P2/Poster.jpg')}}" alt=""></a>
                            <h4 class="piepel" id="RPelicula2">{{Datos[1]}}</h4>
                        </div>
                        <div class="PeliculasR">
                            <a href="/Pelicula3"><img src="{{url_for('static',filename='/image/Admin/P3/Poster.jpg')}}" alt=""></a>
                            <h4 class="piepel" id="RPelicula3">{{Datos[2]}}</h4>
                        </div>
                        <div class="PeliculasR">
                            <a href="/Pelicula4"><img src="{{url_for('static',filename='/image/Admin/P4/Poster.jpg')}}" alt=""></a>
                            <h4 class="piepel" id="RPelicula4">{{Datos[3]}}</h4>
                        </div>
                        <div class="PeliculasR">
                            <a href="/Pelicula5"><img src="{{url_for('static',filename='/image/Admin/P5/Poster.jpg')}}" alt=""></a>
                            <h4 class="piepel" id="RPelicula5">{{Datos[4]}}</h4>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </main>
</body>

</html>